@import "styles/breakpoints.scss";

.themeSwitchWrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 1px;
  transform: rotateZ(90deg);

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.themeSwitch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
  &:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
  }
  &.checked {
    background-color: #1d198a;
    &:before {
      transform: translateX(26px);
    }
  }
}

@include tablet {
  .themeSwitchWrapper {
    right: 1px;
    top: 45%;
  }
}
