.button {
  padding: 1rem 1.4rem;
  color: #ffffff;
  align-self: center;
  border-radius: 3px;
  display: flex;
  font-size: 1.1rem;
}

.grey {
  background: #767d84;
}

.blue {
  background: #2885f6;
}

.arrow {
  margin-left: 0.8rem;
}
