.button {
  padding: 1.2rem 1.6rem 1.2rem 2.4rem;

  align-self: center;
  border-radius: 3px;
  display: flex;
  font-weight: bold;
  font-size: 1.44rem;
}

.grey {
  background: #767d84;
}

.blue {
  background: #2885f6;
}

.arrow {
  margin-left: 0.8rem;
}
