@import "styles/breakpoints.scss";

.container {
  height: 100%;
  line-height: 1;

  a {
    text-decoration: none;
  }
}
.mainContainer {
  max-width: 40rem;
  &__heading1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
  }

  &__heading2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1.6rem;
  }
  .paragraph {
    font-weight: 200;
    font-size: 1.1rem;
    color: #777e87;
  }
}

.buttonContainer {
  display: flex;
}

.projectButton {
  margin-right: 1rem;
  svg {
    margin-top: 1px;
    width: 25px;
    height: 25px;
  }
}

.secondaryContainer {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #2885f6;
}

.downloadButton {
  svg {
    margin-top: 1px;
    width: 25px;
    height: 25px;
  }
}

@include tablet {
  .mainContainer {
    position: relative;

    &__heading1 {
      font-size: 4.5rem;
      font-weight: 500;
    }
    &__heading2 {
      font-size: 2.5rem;
      font-weight: 200;
    }
  }
}

@include desktop {
  .mainContainer {
    top: 20%;
    left: 18%;
  }
}
