@import "styles/breakpoints.scss";

.navWrapper {
  position: absolute;
  top: 2%;
  left: 6%;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.sectionWrapper {
  display: none;
}

.navItem {
  position: relative;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;

  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }

  &:nth-of-type(1) {
    margin-left: 4rem;
  }
}

// .dotWrapper {
//   position: relative;
//   height: 100%;
//   width: 12px;
//   display: flex;
//   align-items: center;
//   margin-right: 5px;
// }

// .dot {
//   width: 7px;
//   height: 7px;
//   margin-left: 0.5px;
//   background: black;
//   border-radius: 100px;
//   transform: scale(1);
//   transition: transform 0.25s ease-in;
//   &.shown {
//     transform: scale(1.5);
//     border-radius: 100px;
//   }
//   &.darkMode {
//     background: white;
//   }
// }

@include tablet {
  .navWrapper {
    left: 18%;
  }
}

@include desktop {
  .sectionWrapper {
    display: flex;
    flex-direction: row;
  }
}
