@import "styles/breakpoints.scss";

.navWrapper {
  position: absolute;
  top: 2%;
  left: 6%;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.sectionWrapper {
  display: none;
}

.hamburger {
  padding: 0;
  border: 0;
  background-color: inherit;
  top: 6.5%;
  right: 4%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 35px;
  z-index: 10;
}

.hamburger {
  span,
  &:before,
  &:after {
    background: #000;
    content: "";
    display: block;
    height: 3px;
    border-radius: 5px;
    margin: 7px 0;
    transition: all 0.5s;
  }
}

.open {
  &.hamburger span {
    transform: scale(0);
  }
  &.hamburger:before {
    transform: translateY(10px) rotate(135deg);
  }
  &.hamburger:after {
    transform: translateY(-10px) rotate(-135deg);
  }
}

.navItem {
  position: relative;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;

  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }

  &:nth-of-type(1) {
    margin-left: 4rem;
  }
}

@include tablet {
  .navWrapper {
    left: 18%;
  }
  .sectionWrapper {
    display: flex;
    flex-direction: row;
  }
}

@include desktop {
  .hamburger {
    display: none;
  }
}
