html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100%;
  position: relative;
}
