@import "styles/breakpoints.scss";

.container {
  padding: 7rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seperator {
  width: 10rem;
  height: 3rem;
}

.image {
  &__contianer {
    padding: 0 3rem 0 3rem 0;
  }
  height: auto;
}

.text {
  &__container {
    height: 100%;
    max-width: 25rem;
  }
}

@include tablet {
  .text__container {
    flex-direction: row;
    max-width: 30rem;
  }

  .container {
    flex-direction: row;
  }
  .image__container {
    padding: 0 3rem 0 3rem 0;
  }
}
