@import "styles/breakpoints.scss";

.container {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 4rem;
}

.image {
  &__container {
    padding-left: 1rem;
  }
}

.text {
  &__container {
    padding: 1rem 1rem;
    padding-top: 5rem;
  }
}

@include tablet {
  .text__container {
    flex-direction: row;
    padding: 0 4rem;
  }

  .container {
    flex-direction: row;
  }
  .image__container {
    padding-left: 3rem;
  }
}
